<div class="row">
  <div
    class="col-xs-4 offset-xs-4 col-sm-4 offset-sm-4 col-md-4 offset-md-4 col-lg-4 offset-lg-4"
  >
    <img
      src="../../assets/images/updatepwd.svg"
      alt="Update Password"
      class="img-responsive"
      style="width: 70px; position: absolute; top: -18%; left: 42%;"
    />
    <br />
    <h3 style="text-align: center; letter-spacing: 0.1cm;">Update Password</h3>
    <br />
    <form [formGroup]="updatePwdForm" (ngSubmit)="onSubmit()" id="updatePwd">
      <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="fa fa-lock fa-lg fa-fw"></i>
            </div>
          </div>
          <input
            type="password"
            id="oldPassword"
            formControlName="oldPassword"
            name="oldPassword"
            class="form-control"
            appShPassword
          />
        </div>
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="fa fa-lock fa-lg fa-fw"></i>
            </div>
          </div>
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            name="newPassword"
            class="form-control"
            appShPassword
          />
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="fa fa-lock fa-lg fa-fw"></i>
            </div>
          </div>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            name="confirmPassword"
            class="form-control"
            appShPassword
          />
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          updatePwdForm.get('confirmPassword').errors &&
          updatePwdForm.get('confirmPassword').errors.ConfirmPassword
        "
      >
        Sorry!! Passwords didn't match.
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-success form-control"
          [disabled]="!updatePwdForm.valid"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Update Password
        </button>
      </div>
      <div class="form-group">
        <button
          type="button"
          class="btn btn-secondary form-control"
          (click)="onBack()"
        >
          Back to profile
        </button>
      </div>
    </form>
  </div>
</div>
