<div class="Login_divi">
            <p style="font-size: 25px;font-family: sans-serif;text-align: center;">Login</p>
            <p><input type="text" class="form-control col-sm border border-dark" placeholder="Enter Email-id" id="email"></p>
            <p><input type="text" class="form-control col-sm border border-dark" placeholder="Enter Password" id="password"></p>
            <button class="btn btn-success form-control col-sm border border-dark "> Login</button><br>
            <a href="" routerLink="/forgot" class="small text-primary">Forgot Password??</a>
            <p class="small text-primary">Don't have account?? <a routerLink="/signup" href="*">Create One!</a></p>
</div>
