<div class="row">
  <div class="col-sm-2 offset-sm-10">
    <div class="dropdown">
      <button
        class="btn btn-primary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Welcome
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" routerLink="/profile">Profile</a>
        <button class="dropdown-item" routerLink="/show-tickets">
          Booked Tickets
        </button>
        <button class="dropdown-item" (click)="onLogout()">Logout</button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Train Search</h5>
        <p class="card-text">
          Search all the trains between stations.
        </p>
        <a routerLink="/search" class="btn btn-success btn-block">Search</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Book Ticket</h5>
        <p class="card-text">
          Book tickets and plan your journey.
        </p>
        <a routerLink="/book" class="btn btn-success btn-block">Book</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Get Availability</h5>
        <p class="card-text">
          Get the seat availability for different classes.
        </p>
        <a class="btn btn-success btn-block" routerLink="/avl-seat">Check Availability</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Get Schedule</h5>
        <p class="card-text">
          Get the time wise schedule for specific train.
        </p>
        <a class="btn btn-success btn-block" routerLink="/get-schedule">Show Schedule</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Live Status</h5>
        <p class="card-text">
          Get live status of trains.
        </p>
        <a class="btn btn-success btn-block" routerLink="/livestatus"
          >Live Status</a
        >
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">PNR Details</h5>
        <p class="card-text">
          Get your booking details with PNR number.
        </p>
        <a class="btn btn-success btn-block" routerLink="/check-pnr"
          >Get Details using PNR</a
        >
      </div>
    </div>
  </div>
</div>
