<!-- Button trigger modal -->
<div class="text-center">
  <button
    type="button"
    class="btn btn-success"
    data-toggle="modal"
    data-target="#exampleModalCenter"
  >
    Get an email to reset password
  </button>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">
          Enter your email ID
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          [formGroup]="emailForm"
          (ngSubmit)="onSubmit()"
          id="forgotpassword"
        >
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">
                  <i class="fa fa-envelope fa-lg fa-fw"></i>
                </div>
              </div>
              <input
                type="email"
                id="email"
                formControlName="email"
                name="email"
                class="form-control"
                aria-describedby="emailHelp"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="onCancel()"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit()"
          [disabled]="!emailForm.valid"
        >
          Send
        </button>
      </div>
    </div>
  </div>
</div>
