<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron">
            <h1 class="display-4" style="text-align: center;">Welcome, to Railsafar!</h1>
            <p class="lead" style="text-align: center;">In your service always.</p>
            <button class="btn btn-primary btn-lg" type="button" (click)="onLogin()">Login</button>&nbsp;
            <button class="btn btn-success btn-lg" type="button">Register</button>
        </div>
    </div>
</div>


