
    <div class="bg-image">
        <div class="bg-text">
            <h1 style="font-size:57px">About Us</h1>
          </div>
    </div>
    <br>
    <div style="text-align: center;letter-spacing: 0.1cm; font-size:25px;">WHO WE ARE</div>
    <hr>
    <div class="shadow p-3 mb-9 text-white rounded-left bg-dark">
        <p class="sans-serif">2020 has been a great year for Team Rail Safar. We witnessed some important milestones including - starting <b>12 </b> 
            years of service,extending our footprint to 98 cities and covering over 265 million kilometers of road travel across India!<br><br>
            In 2018, our focus will remain on continuously creating differentaited value for the inter-city traveler.<br><br>
             We have several exciting offerings lined up, the most prominent being 'Package Offers' to key tourist and buisness destinations. 
             With your support,these initiatives will transform road travel into even more memorable and exciting journeys.</p>
            <p class="text-muted">
            Gaurav Aggarwal
            CEO, RailSafar Travels
        </p>
    </div>
    
