<div class="row">
  <div
    class="col-xs-4 offset-xs-4 col-sm-4 offset-sm-4 col-md-4 offset-md-4 col-lg-4 offset-lg-4"
  >
    <div *ngIf="displayAlert" class="alert alert-info" role="alert">
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <img
      src="../../assets/images/resetpwd.svg"
      alt="Reset Password"
      class="img-responsive"
      style="width: 70px; position: absolute; top: -18%; left: 42%;"
    />
    <br />
    <h3 style="text-align: center;letter-spacing: 0.1cm;">Change Password</h3>
    <br />
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" id="resetpwd">
      <div class="form-group">
        <label for="password">New Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="fa fa-lock fa-lg fa-fw"></i>
            </div>
          </div>
          <input
            type="password"
            id="password"
            formControlName="password"
            name="password"
            class="form-control"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm New Password</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text" id="btnGroupAddon">
              <i class="fa fa-lock fa-lg fa-fw"></i>
            </div>
          </div>
          <input
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
            name="confirmPassword"
            class="form-control"
          />
        </div>
      </div>
      <div
        class="error"
        *ngIf="
          resetForm.get('confirmPassword').errors &&
          resetForm.get('confirmPassword').errors.ConfirmPassword
        "
      >
        Sorry!! Passwords didn't match.
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-success form-control"
          [disabled]="!resetForm.valid"
        >
          Change Password
        </button>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary form-control"
          (click)="onLogin()"
        >
          Go to Login Page
        </button>
      </div>
    </form>
  </div>
</div>
