<div class="Signup_divi">
    <p style="font-size: 25px;font-family: sans-serif;text-align: center;">Register</p>
    <div class="input-group sm-1 border border-secondary  rounded-lg">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-user"></i></span>
        </div>
        <input type="text" class="form-control"  style="text-align: center;" placeholder="First name" id="usr" name="username"/>
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control"  style="text-align: center;"placeholder="lastname" id="usr" name="username"/>
        
    </div><br>
     <div class="input-group sm border border-secondary rounded-lg">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-envelope"></i></span>
        </div>
        <input type="text"  style="text-align: center;"class="form-control" placeholder="Email" id="usr" name="username"/>
        
    </div>
    <br>
     <div class="input-group sm border border-secondary rounded-lg">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
        </div>
        <input type="text"  style="text-align: center;"class="form-control" placeholder="Password" id="usr" name="username"/>
        
    </div>
    <br>
     <div class="input-group sm border border-secondary rounded-lg">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-lock"></i></span>
        </div>
        <input type="text"  style="text-align: center;"class="form-control" placeholder="Confirm Password" id="usr" name="username"/>
        
    </div>
    <br>
     <div class="input-group sm border border-secondary rounded-lg">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fa fa-phone"></i></span>
        </div>
        <input type="text"  style="text-align: center;"class="form-control" placeholder="Phone" id="usr" name="username"/>
        
    </div>
</div>
